
$font_primary: 'DM Sans', sans-serif;
$font_secondary: 'Poppins', sans-serif;
 

$color_primary: #5956E9;
$color_body: #656973;
$color_light: #ffffff;
$color_black: #000000;
$color_title: #292930;


