/*------------------- 3.2 Grid -------------------*/
.container {
	width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media only screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media only screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media only screen and (min-width: 1370px) {
	.container {
		max-width: 1310px;
	}
}


.row {
	display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col-md-8,
.col-md-4,
.col-md-6 {
	position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

@media only screen and (min-width: 768px) {
	.col-md-8 {
		flex: 0 0 66.666667%;
	    max-width: 66.666667%;
	}
	.col-md-6 {
		flex: 0 0 50%;
	    max-width: 50%;
	}
	.col-md-4 {
		flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	}
}



