/*------------------- 3.4 Helper -------------------*/
section.section {
	padding: 80px 0;
	@media only screen and (max-width: 991px) {
		padding: 60px 0;
	}
	.section-heading {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 60px;
		@media only screen and (max-width: 575px) {
			display: block;	
			text-align: center;
		}
		.heading-subtitle {
			margin-bottom: 10px;
			font-family: $font_extra;
			font-size: 40px;
			color: #E76458;
			line-height: 1;
			@media only screen and (max-width: 1199px) {
				font-size: 38px;	
			}
			@media only screen and (max-width: 991px) {
				font-size: 34px;	
			}
			@media only screen and (max-width: 767px) {
				font-size: 30px;	
			}
			@media only screen and (max-width: 575px) {
				font-size: 28px;	
			}
		}
		.heading-title {
			margin-bottom: 0;
			font-weight: 700;
			font-size: 48px;
			@media only screen and (max-width: 1199px) {
				font-size: 44px;	
			}
			@media only screen and (max-width: 991px) {
				font-size: 40px;	
			}
			@media only screen and (max-width: 767px) {
				font-size: 36px;	
			}
			@media only screen and (max-width: 575px) {
				font-size: 30px;	
			}
		}
		.heading-right {
			@media only screen and (max-width: 575px) {
				margin-top: 20px;	
			}
		}
	}
}

hr {
	border: 1px solid #f6f7fb;
}

.pd-clr-spicy {
	background-color: #906145;
}
.pd-clr-lavender-pink {
	background-color: #FAB8C4;
}
.pd-clr-brandy {
	background-color: #DFBF9B;
}
.pd-clr-dandelion {
	background-color: #FFDC60;
}